
body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #000000;
}

.cC {
    width: 100%;
    height: 100%
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#canvasContainer2 {
    visibility: hidden;
}
